.wrapper {
    --box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 1000px;
    height: 350px;
    align-self: center;
}

.category {
    position: relative;
    align-self: center;

    // background-color: beige;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: bisque;
    margin: 15px;
    box-shadow: var(--box-shadow);
}

.image-product {
    margin: 15px 0;
    img {
        width: 150px;
        height: auto;
    }
}

.name-product {
    max-width: 180px;
    margin-left: 15px;
}

.price-product {
    position: absolute;
    bottom: 10px;
}
